<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>旋轉圖片反彈動畫</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <img src="{{ url_for('static', filename='img/putato.png') }}" class="bouncingImage" />
  <img src="{{ url_for('static', filename='img/putato.png') }}" class="bouncingImage" />
  <img src="{{ url_for('static', filename='img/putato.png') }}" class="bouncingImage" />
  <img src="{{ url_for('static', filename='img/putato.png') }}" class="bouncingImage" />
  <img src="{{ url_for('static', filename='img/putato.png') }}" class="bouncingImage" />
  <script src="script.js"></script>
</body>
</html>
